<h3> Cocktail Name: </h3>
<p><%= @cocktail.name %> </p>

<h3>Incredients:</h3>
<ul>
  <%@cocktail.doses.each do |dose|%>
    <li>description: <%=dose.description%>, ingredient: <%=dose.ingredient.name%>, </li>
  <%end%>
</ul>

<%=link_to "Add new ingredient", new_cocktail_dose_path(@cocktail),:class => "btn btn-warning"%>
<%=link_to "Delete", cocktail_path(@cocktail), :method => :delete ,:class => "btn btn-warning"%>
