 <div class="navbar-wagon">
    <!-- Logo -->
     <%=link_to cocktails_path, :class => "navbar-wagon-brand navbar-wagon-link" do%>
     Cocktails
     <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

    <form class="form-inline" action="/cocktails" method="get">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="search" class="form-control" name="search" value=<%= @filter_form %>>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <%=link_to "New Cocktail", new_cocktail_path, :class => "btn btn-warning", :id => "new-cocktail" %>
    <%=link_to "Ingredients", ingredients_path, :class => "btn btn-warning", :id => "new-cocktail" %>
    </div>

    <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%=link_to "New Cocktail", new_cocktail_path %></li>
        <li><%=link_to "Ingredients", ingredients_path %></li>
        <li>
            <form action="/cocktails" method="get">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="search" class="form-control" name="search" placeholder="search..."value=<%= @filter_form %>>
            <button type="submit" hidden />
            </form>
        </li>
      </ul>
    </div>
  </div>
  </div>
